.container {
    max-width: 1000px;
}
.slider {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin: 40px;
  overflow: hidden;
}
.slider-line {
  display: flex;
  width: 600px;
  height: 150px;
  background: yellowgreen;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider-line img {
  width: 150px;
}
